<h1>Welcome, <%= @user.user_name %>!</h1>

<h3>Choose a deck to begin playing:</h3>
<div class="decks">
  <%= erb :'partials/_decks', :layout => false, :locals => { :decks => @decks }%>
</div>

  <h3>Rounds Played:</h3>
<div class="user_rounds headers">
      <div class="played_round">
        <div class="deck_name justleft">
            Deck
          </div>
          <div class="round_score">
            Score
          </div>
          <div class="played_at">
            Date
          </div>
        </div>

</div>


<div class="user_rounds">
      <% @user.rounds.each do |round| %>
      <div class="played_round">
        <div class="deck_name justleft">
            <%=round.deck.name%>
          </div>
          <div class="round_score">
            <%= round.score %> / <%= round.guesses.count %>
          </div>
          <div class="played_at">
            <%=round.created_at.asctime%>
          </div>
        </div>
      <%end%>

</div>

